<html lang="en">
<style>
    .container {
        margin: 40px auto;
        width: 80%;
    }
    img {
        width: 500px;
        height: 500px;
        display: inside;
        margin-bottom: 30px;
    }
    hr {
        width: 400px;
        margin-left: 0;
    }
</style>
<body>
    <div class='container' id='container'>
        <h1>User profile</h1>
        <img src="/media/dog_pic.jpg" alt="dog picture" width="500" height="600">
        <span>Name: </span><h3 id='name'>Anna Smith</h3>
        <hr />
        <span>Email: </span><h3 id='email'>anna.smith@example.com</h3>
        <hr />
        <span>Interests: </span><h3 id='interests'>coding</h3>
        <hr />
    </div>
</body>
</html>


